In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("susant4learning/holiday-package-purchase-prediction")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: C:\Users\Admin\.cache\kagglehub\datasets\susant4learning\holiday-package-purchase-prediction\versions\1

In [2]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df=pd.read_csv('Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

### Data Cleaning

In [4]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [5]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [6]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [7]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [8]:
df['Designation'].value_counts()

Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [9]:
df['Gender']=df['Gender'].replace('Fe Male','Female')
df['MaritalStatus']=df['MaritalStatus'].replace('Single','Unmarried')

In [10]:
df['NumberOfTrips'].value_counts()

NumberOfTrips
2.0     1464
3.0     1079
1.0      620
4.0      478
5.0      458
6.0      322
7.0      218
8.0      105
19.0       1
21.0       1
20.0       1
22.0       1
Name: count, dtype: int64

### Checking the Missing values

In [11]:
features_with_na=[features for features in df.columns if df[features].isnull().sum()>1]
for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean()*100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

### Data Preprocessing

In [12]:
df['Age'].fillna(df['Age'].median(), inplace=True)   
df['TypeofContact'].fillna(df['TypeofContact'].mode()[0], inplace=True)  
df['DurationOfPitch'].fillna(df['DurationOfPitch'].median(), inplace=True)
df['NumberOfFollowups'].fillna(df['NumberOfFollowups'].mode()[0], inplace=True)  
df['PreferredPropertyStar'].fillna(df['PreferredPropertyStar'].mode()[0], inplace=True)     
df['NumberOfTrips'].fillna(df['NumberOfTrips'].median(), inplace=True)
df['NumberOfChildrenVisiting'].fillna(df['NumberOfChildrenVisiting'].mode()[0], inplace=True)     
df['MonthlyIncome'].fillna(df['MonthlyIncome'].median(), inplace=True)

In [13]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [14]:
df.drop('CustomerID',inplace=True,axis=1)

### Feature Engineering

In [15]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [16]:
df['TotalVisiting']=df['NumberOfPersonVisiting']+df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting','NumberOfChildrenVisiting'],inplace=True,axis=1)

In [17]:
num_features=[feature for feature in df.columns if df[feature].dtypes != 'O']
print(len(num_features))

12

In [20]:
cat_features=[feature for feature in df.columns if df[feature].dtypes == 'O']
print(len(cat_features))

6

In [21]:
discreate_features=[feature for feature in num_features if len(df[feature].unique())<25]
print(len(discreate_features))

9

In [22]:
continous_features=[feature for feature in num_features if feature not in discreate_features]
print(len(continous_features))

3

In [23]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

## Train Test Split

In [24]:
from sklearn.model_selection import train_test_split
X=df.drop('ProdTaken',axis=1)
y=df['ProdTaken']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
cat_features=X.select_dtypes(include='O').columns
num_features=X.select_dtypes(exclude='O').columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHoteEncoder",oh_transformer,cat_features),
        ("StandardScaler",numeric_transformer,num_features)
    ]
)

X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [27]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\admin\desktop\data science\my learning\venv\lib\site-packages (3.0.4)
Requirement already satisfied: numpy in c:\users\admin\desktop\data science\my learning\venv\lib\site-packages (from xgboost) (2.2.6)
Requirement already satisfied: scipy in c:\users\admin\desktop\data science\my learning\venv\lib\site-packages (from xgboost) (1.16.1)

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,classification_report,ConfusionMatrixDisplay,roc_curve,precision_score,recall_score,f1_score,roc_auc_score

In [29]:
models={
    "Logistic_Regression":LogisticRegression(),
    "Decision_Tree":DecisionTreeClassifier(),
    "Random_Forest":RandomForestClassifier(),
    "Gradient_Boosting":GradientBoostingClassifier(),
    "Adaboost":AdaBoostClassifier(),
    "XGBoost":XGBClassifier()
}

for i in range(len(models)):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    #Train Performance
    model_train_accuracy=accuracy_score(y_train,y_train_pred)
    model_train_f1_score=f1_score(y_train,y_train_pred,average="weighted")
    model_train_roc_auc=roc_auc_score(y_train,y_train_pred)
    model_train_recall=recall_score(y_train,y_train_pred)
    model_train_roc_auc=roc_auc_score(y_train,y_train_pred)

    #Test Performance
    model_test_accuracy=accuracy_score(y_test,y_test_pred)
    model_test_f1_score=f1_score(y_test,y_test_pred,average="weighted")
    model_test_roc_auc=roc_auc_score(y_test,y_test_pred)
    model_test_recall=recall_score(y_test,y_test_pred)
    model_test_roc_auc=roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])  #Print all model name

    print('Model Performance on Training Data')
    print('----------------------------------')
    print("-Accuracy: {:.4f}".format(model_train_accuracy))
    print("-F1 Score: {:.4f}".format(model_train_f1_score))
    print("-Recall: {:.4f}".format(model_train_recall))
    print("-ROC_AUC: {:.4f}".format(model_train_roc_auc))
    
    print('Model Performance on Test Data')
    print('----------------------------------')
    print("-Accuracy: {:.4f}".format(model_test_accuracy))
    print("-F1 Score: {:.4f}".format(model_test_f1_score))
    print("-Recall: {:.4f}".format(model_test_recall))
    print("-ROC_AUC: {:.4f}".format(model_test_roc_auc))


    print('='*35)
    print('\n')

Logistic_Regression
Model Performance on Training Data
----------------------------------
-Accuracy: 0.8460
-F1 Score: 0.8202
-Recall: 0.3032
-ROC_AUC: 0.6368
Model Performance on Test Data
----------------------------------
-Accuracy: 0.8364
-F1 Score: 0.8087
-Recall: 0.2932
-ROC_AUC: 0.6307
===================================


Decision_Tree
Model Performance on Training Data
----------------------------------
-Accuracy: 1.0000
-F1 Score: 1.0000
-Recall: 1.0000
-ROC_AUC: 1.0000
Model Performance on Test Data
----------------------------------
-Accuracy: 0.9223
-F1 Score: 0.9212
-Recall: 0.7644
-ROC_AUC: 0.8625
===================================


Random_Forest
Model Performance on Training Data
----------------------------------
-Accuracy: 1.0000
-F1 Score: 1.0000
-Recall: 1.0000
-ROC_AUC: 1.0000
Model Performance on Test Data
----------------------------------
-Accuracy: 0.9284
-F1 Score: 0.9226
-Recall: 0.6492
-ROC_AUC: 0.8227
===================================


Gradient_Boosting
Model Performance on Training Data
----------------------------------
-Accuracy: 0.8939
-F1 Score: 0.8819
-Recall: 0.5021
-ROC_AUC: 0.7429
Model Performance on Test Data
----------------------------------
-Accuracy: 0.8589
-F1 Score: 0.8398
-Recall: 0.3927
-ROC_AUC: 0.6824
===================================


Adaboost
Model Performance on Training Data
----------------------------------
-Accuracy: 0.8478
-F1 Score: 0.8146
-Recall: 0.2551
-ROC_AUC: 0.6194
Model Performance on Test Data
----------------------------------
-Accuracy: 0.8354
-F1 Score: 0.7987
-Recall: 0.2356
-ROC_AUC: 0.6083
===================================


XGBoost
Model Performance on Training Data
----------------------------------
-Accuracy: 0.9992
-F1 Score: 0.9992
-Recall: 0.9959
-ROC_AUC: 0.9979
Model Performance on Test Data
----------------------------------
-Accuracy: 0.9356
-F1 Score: 0.9318
-Recall: 0.7068
-ROC_AUC: 0.8490
===================================

## Hyperparameter Tuning

In [30]:
from sklearn.model_selection import RandomizedSearchCV

rf_parmas={
    "max_depth":[5,8,15,None,10],
    "max_features":[5,7,"auto",8],
    "min_samples_split":[2,8,15,20],
    "n_estimators":[100,200,500,1000]
}

xg_params={
    "learning_rate":[0.1,0.01],
    "max_depth":[5,8,12,20,30],
    "n_estimators":[100,200,300],
    "colsample_bytree":[0.5,0.8,1,0.3,0.4]
}


randomcv_models=[
    ("RF",RandomForestClassifier(),rf_parmas),
    ("xgb",XGBClassifier(),xg_params),
]

model_param={}

for name,model,params in randomcv_models:
    randomcv=RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=10,cv=3,n_jobs=-1,verbose=2)
    randomcv.fit(X_train,y_train)
    model_param[name]=randomcv.best_params_


for model_name in model_param:
    print(model_name)
    print(model_param[model_name])
    print('\n')

Fitting 3 folds for each of 10 candidates, totalling 30 fits

Fitting 3 folds for each of 10 candidates, totalling 30 fits
RF
{'n_estimators': 1000, 'min_samples_split': 2, 'max_features': 5, 'max_depth': 15}


xgb
{'n_estimators': 300, 'max_depth': 8, 'learning_rate': 0.1, 'colsample_bytree': 0.4}

In [31]:
models={
    "Random_Forest":RandomForestClassifier(n_estimators= 1000, min_samples_split= 2, max_features= 5, max_depth= None),
    "XBGClassifier":XGBClassifier(n_estimators=100,learning_rate=0.1,max_depth=30, colsample_bytree=0.8)
}

for i in range(len(models)):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    #Train Performance
    model_train_accuracy=accuracy_score(y_train,y_train_pred)
    model_train_f1_score=f1_score(y_train,y_train_pred,average="weighted")
    model_train_roc_auc=roc_auc_score(y_train,y_train_pred)
    model_train_recall=recall_score(y_train,y_train_pred)
    model_train_roc_auc=roc_auc_score(y_train,y_train_pred)

    #Test Performance
    model_test_accuracy=accuracy_score(y_test,y_test_pred)
    model_test_f1_score=f1_score(y_test,y_test_pred,average="weighted")
    model_test_roc_auc=roc_auc_score(y_test,y_test_pred)
    model_test_recall=recall_score(y_test,y_test_pred)
    model_test_roc_auc=roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])  #Print all model name

    print('Model Performance on Training Data')
    print('----------------------------------')
    print("-Accuracy: {:.4f}".format(model_train_accuracy))
    print("-F1 Score: {:.4f}".format(model_train_f1_score))
    print("-Recall: {:.4f}".format(model_train_recall))
    print("-ROC_AUC: {:.4f}".format(model_train_roc_auc))
    
    print('Model Performance on Test Data')
    print('----------------------------------')
    print("-Accuracy: {:.4f}".format(model_test_accuracy))
    print("-F1 Score: {:.4f}".format(model_test_f1_score))
    print("-Recall: {:.4f}".format(model_test_recall))
    print("-ROC_AUC: {:.4f}".format(model_test_roc_auc))


    print('='*35)
    print('\n')

Random_Forest
Model Performance on Training Data
----------------------------------
-Accuracy: 1.0000
-F1 Score: 1.0000
-Recall: 1.0000
-ROC_AUC: 1.0000
Model Performance on Test Data
----------------------------------
-Accuracy: 0.9315
-F1 Score: 0.9263
-Recall: 0.6649
-ROC_AUC: 0.8306
===================================


XBGClassifier
Model Performance on Training Data
----------------------------------
-Accuracy: 1.0000
-F1 Score: 1.0000
-Recall: 1.0000
-ROC_AUC: 1.0000
Model Performance on Test Data
----------------------------------
-Accuracy: 0.9499
-F1 Score: 0.9475
-Recall: 0.7644
-ROC_AUC: 0.8797
===================================

## Pickle Files

In [33]:
import joblib

# Save model and preprocessor separately
joblib.dump(model, "model.joblib")
joblib.dump(preprocessor, "preprocessor.joblib")

['preprocessor.joblib']